<%= form_for(mini_blog) do |f| %>
  <% if mini_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mini_blog.errors.count, "error") %> prohibited this mini_blog from being saved:</h2>

      <ul>
      <% mini_blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
