<p id="notice"><%= notice %></p>

<h1>Mini Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mini_blogs.each do |mini_blog| %>
      <tr>
        <td><%= mini_blog.title %></td>
        <td><%= mini_blog.content %></td>
        <td><%= mini_blog.user_id %></td>
        <td><%= link_to 'Show', mini_blog %></td>
        <td><%= link_to 'Edit', edit_mini_blog_path(mini_blog) %></td>
        <td><%= link_to 'Destroy', mini_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mini Blog', new_mini_blog_path %>
