<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mini_blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @mini_blog.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @mini_blog.user_id %>
</p>

<%= link_to 'Edit', edit_mini_blog_path(@mini_blog) %> |
<%= link_to 'Back', mini_blogs_path %>
