<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>FIRSTPOST!:</strong>
  [<%= if @user.mini_blogs.first then @user.mini_blogs.first.title end %>] - <%= if @user.mini_blogs.first then @user.mini_blogs.first.content end %>
</p>




<% @user.mini_blogs.each do |miniblog| %>
<p>
  <h3><%= miniblog.title %></h3>
  <p><%= miniblog.content %></p>
  <h4>Comments:</h4>

</p>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
